* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #fff4ff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff4ff;
}

#header-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

nav a {
    margin: 0 3rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-h1 {
    margin-top: 2rem;
}

form {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

#email {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

#submit {
    margin: 0.5rem;
    padding: 0.3rem 0.8rem;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}

main {
    max-width: 60vw;
    width: 100%;
    margin: 3rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main ul {
    list-style-type: none;
}

.details {
    margin: 2rem 0;
}

main ul li p {
    margin-top: 10px;
}

#video {
    margin: 3rem;
}

#pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
}

.product > .level {
    background-color: #ddd;
    color: black;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 2rem;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2em;
}

@media (max-width: 700px) {
    #pricing {
        flex-direction: column;
    }
}
